body {
    background-color: #181818;
    color: #F8F8F8;
}

.container {
    display:flex;
}

.formblock {
    background-color: #202020;
    border-color: #404040;
    color: #F8F8F8;
    width: 340px;
    margin-top: 200px;
}

.displayblock {
    background-color: #202020;
    border-color: #404040;
    color: #F8F8F8;
    width: 700px;
}

.formbody {
    justify-content: center;
}

.card-title{
    text-align: center;
}

.textfield {
    background-color: #181818;
    border-color: #007053;
    color: #F8F8F8;
    margin-top: 5px;
    width: 95%;
}

.textfield:focus {
    background: transparent;
    color: #F8F8F8;
}

.btn {
    background-color: #007053;
    color: #F8F8F8;
    width: 95%;
}

.btn:hover {
    background-color: #00bc8c;
}

.shiftbtn {
    background-color: #181818;
    border-color: #007053;
    margin-right: 110px;
    margin-top: 5px;
    width: 60%;
}

.shiftbtn:hover {
    background-color: #262626;
    border-color: #007053;
}

.dropdown-menu {
    background-color: #181818;
    border-color: #007053;
    width: 20%;
}

.dropdown-item {
    color: #F8F8F8;
}