body {
    background-color: #181818;
    color: #F8F8F8;
}

.container {
    display:flex;
}

.item1 {
    height:325px;
}

.item2 {
    height:600px;
}

.loginblock {
    background-color: #202020;
    border-color: #404040;
    color: #F8F8F8;
    width: 340px;
    margin-top: 200px;
}

.formbody {
    justify-content: center;
}

.textfield {
    background-color: #181818;
    border-color: #007053;
    color: #F8F8F8;
    margin-top: 5px;
    width:100%;
}

.textfield:focus{
    background: transparent;
    color: #F8F8F8;
}

.btn {
    background-color: #007053;
    color: #F8F8F8;
    width: 96%;
}

.btn:hover {
    background-color: #00bc8c;
}

.disabled {
    pointer-events: none; 
    opacity: 0.5; 
}