body {
    background-color: #181818;
    color: #F8F8F8;
}

.container {
    display:flex;
}

.block {
    background-color: #202020;
    border-color: #404040;
    color: #F8F8F8;
    width: 340px;
    margin-top: 200px;
}

.formbody {
    justify-content: center;
}

.textfield {
    background-color: #181818;
    border-color: #007053;
    color: #F8F8F8;
    margin-top: 5px;
    width: 95%;
}

.textfield:focus {
    background: transparent;
    color: #F8F8F8;
}

.btn {
    background-color: #007053;
    color: #F8F8F8;
    width: 95%;
}

.btn:hover {
    background-color: #00bc8c;
}

.disabled {
    pointer-events: none; 
    opacity: 0.5; 
}

.shiftbtn {
    background-color: #181818;
    border-color: #007053;
    width: 50%;
    margin-right: 145px;
}

.shiftbtn:hover {
    background-color: #262626;
    border-color: #007053;
}

.dropdown-menu {
    background-color: #181818;
    border-color: #007053;
    width: 20%;
}

.dropdown-item {
    color: #F8F8F8;
}